
#projects {
	position: absolute;

	left: 0;
	right: 0;
	max-height: calc(100vh - 96px - 40px);
	bottom: 40px;
	top: 96px;

	overflow-y: auto;
	
	margin: 40px 10%;
}

#projects::-webkit-scrollbar {
	width: 0;
}

.category-name {
	height: 24px;
	margin: 10px 0;
	padding: 25px 0;

	background: var(--category-name-background);

	font-size: 20px;
	text-align: center;

	cursor: pointer;
}

div.category:first-of-type .category-name {
	margin-top: 0;
}

div.category:last-of-type .category-name {
	margin-bottom: 0;
}

.category-name:hover {
	background: var(--category-name-background-focus) !important;
}

.project-list {
	display: none;

	padding: 10px 5%;
}

.project {
	display: block;

	padding: 13px 0;

	font-size: 17px;
	text-align: center;

	background: var(--project-background);

	cursor: pointer;
}

.project:hover {
	background: var(--project-background-focus);
}
