@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/solarized-light.min.css");

:root {

	/* - COLOR - */
	/* - main - */
	--text-color: #000000;

	--background: #ffffff;

	--header-text-focus: #0080a0;
	--header-footer-border: #0080a0;

	--navigator-footer-item-background: #ffffff;
	--navigator-footer-item-background-focus: #0080a033;

	/* - project - */
	--category-name-background: #f2f2f2;
	--category-name-background-selected: #0080805f;
	--category-name-background-focus: #0080a099;

	--project-background: #0080a00f;
	--project-background-focus: #0080a066;

	/* - lightdark - */
	--lightdark: #21252b;
	--lightdark-focus: #006080;

	/* - cookies - */
	--cookie-name-background: #f7f7f7;
	--cookie-value: #0080b0;

	--cookie-delete: #ff00001a;
	--cookie-delete-focus: #ff000066;

	--no-cookie-background: #00000020;

}
